@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* #root {
  width: 90%;
} */

h2 {
  text-align: center;
}

a {
  color: #727e86;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 1200px;
  margin: auto;
}



/* Common Styles */
.invisible {
  opacity: 0;
}

/* Header */

.header-controls-pics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  margin-left: auto;
}
.header-controls-pic {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  background-image: url(./img/header-controls-sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.header-controls-search {
  position: relative;
  z-index: 1;
  background-position: -64px 0;
}
.header-controls-profile {
  position: relative;
  background-position: -32px 0;
}
.header-controls-cart {
  position: relative;
  background-position: 0 0;
}
.header-controls-cart-full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}
.header-controls-search-form {
  position: absolute;
  right: 60px;
  top: 23px;
  display: block;
  width: 233px;
  height: 40px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  text-align: right;
}
.header-controls-search-form .form-control {
  width: 100%;
  height: 95%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}

.quantity-products-basket {
  position: absolute;
  right: -12px;
  top: -8px;
  background-color: #f77688;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  color: white;
  font-size: 12px;
  line-height: 22px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #D4E4E6;
  padding: 10px;
  position: relative;
}

.menu-item {
  margin-right: 10px;
  color: #727e86;
}

.menu-item-active {
  color: black;
  padding: 10px;
}

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

/* Banner */
.banner {
  position: relative;
  object-fit: cover;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
}

.banner-header {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}

/* Preloader */
.preloader {
  margin: 8px auto;  
  position: relative;
  width: 30px;
  height: 30px;
}
.preloader span {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.preloader :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}
.preloader :nth-child(2) {
  background: #ff748b;
  animation-delay: -1s;
}
.preloader :nth-child(3) {
  background: #ffb676;
  animation-delay: -0.5s;
}
.preloader :last-child {
  background: #727e86;
}
@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* Top Sales */
.top-sales {
  min-height: 300px;
  text-align: center;
}

/* Catalog */
.catalog {
  min-height: 600px;
  text-align: center;
  padding: 2em;
  
}

.catalog-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  margin: auto;
}

.catalog-categories {
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.catalog-categories-active {
  color: red;
  font-size: 1.3rem;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 29%;
  border: 1px solid #727e86;
  border-radius: 2px;
  margin-bottom: 2em;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2em;
  align-items: stretch;
  padding-top: 0;
}

.product-img-container, .img-catalog-product{
  max-width: 350px;
  max-height: 450px;
  margin: auto;
  
  
}

.img-catalog-product {
  margin-top: 1.5em;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.product-specifications-container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.product-item {
  margin-bottom: 0.5em;
  text-align: start;
}

.product-button {
  width: 70px;
  margin-top: 0.5em;
}

.products-size-container {
  margin: 10px 0 10px 0;
}

.product-size {
  height: 1.5e m;
  text-align: center;
  vertical-align: auto;
}

.product-quantity {
  margin-bottom: 10px;
  width: 100%;
}

.button-change-count {
  width: 15px;
  padding: 1px;
}

.product-count {
  border-top: 1px solid black;
  padding: 2px;
}

.catalog-item-card {
  margin-bottom: 1em;
}

.catalog-item-size {
  display: inline-block;
  padding: 0 10px;
}

.catalog-item-size.selected {
  background: #727e86;
  border-radius: 15px;
  color: #fff;
}

.catalog-search-form {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  margin-bottom: 2em;
}
.catalog-search-form .form-control {
  width: 100%;
  height: 100%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}

.product-page-container {
  display: flex;
  flex-direction: row;
}

.product-specifications-container {
  width: 650px;
}

.product-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 650px;
}

.product-feature {
  border: 1px solid rgb(155, 153, 153);
  width: 311px;
  height: 30px;
  padding: 5px;
  line-height: 30px;
}

 .products-size-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

.product-order-button {
  width: 650px;
  background-color: #f77688;
  height: 40px;
  border: 1px solid #f77688;
  border-radius: 6px;
  color: white;
  font-family: inherit;
  font-size: 1.2em;
}

/* .basket-container {
  width: 1200px;
} */

.basket {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  justify-content: flex-start;
  margin: 0;
}

.basket-items-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.basket-item {
  border: 1px solid gray;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
}

.basket-item-title {
  font-weight: bold;
}

.basket-item-name {
  width: 300px;
}

.basket-item-number {
  width: 30px;
}

.basket-item-size {
  width: 100px;
}

.basket-item-quantity {
  width: 100px;
}

.basket-item-price {
  width: 100px;
}

.product-size-active {
  background-color: #646363;
}

.basket-item-total {
  width: 150px;
}

.basket-item-actions {
  width: 150px;
}

.basket-total-container {
  padding-left: 0;
}

.basket-total {
  display: inline-block;
  border: 1px solid gray;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
}

.basket-total-text {
  width: 696px;
  height: 40px;
}

.basket-total-cost {
  width: 152px;
}

.making-order {
  padding: 30px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  width: 40%;
  margin: auto;
}

.making-order-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

 label, .making-order-input{
  display: block;
  width: 95%;
}

label {
  margin-bottom: 10px;
}

.making-order-input {
  color: rgb(212, 212, 212);
  border: 1px solid rgb(212, 212, 212);
  height: 2.2em;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  font-size: inherit;
  margin-bottom: 20px;
}

.checkbox-agree-container {
  position: relative;
}

.checkbox-agree-marker {
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(212, 212, 212);
  display: inline-block;
  position: absolute;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
}

.checkbox-agree-text {
  margin-left: 30px;
}

.making-order-button {
  margin-top: 20px;
  height: 2.5em;
  width: 150px;
  padding: 5px 10px 5px 10px;
  font-size: inherit;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 3px;
  color:rgb(106, 105, 105);
  background-color: white;
  
}

.product-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Footer */
.footer {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  background-color: #D4E4E6;
  justify-content: space-between;
}

.footer-section {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-link-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link {
  margin-bottom: 20px;
}

.footer-pay {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
}
.footer-pay-systems {
  width: 46px;
  height: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url(./img/footer-sprite.png);
}
.footer-pay-systems:not(:first-child) {
  margin-left: 5px;
}
.footer-pay-systems-paypal {
  background-position: -2px -6px;
}
.footer-pay-systems-master-card {
  background-position: -54px -8px;
}
.footer-pay-systems-visa {
  background-position: -104px -8px;
}
.footer-pay-systems-yandex {
  background-position: -154px -8px;
}
.footer-pay-systems-webmoney {
  background-position: -2px -46px;
}
.footer-pay-systems-qiwi {
  background-position: -52px -46px;
}

.footer-social-links {
  margin-top: 10px;
}
.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(./img/footer-sprite.png);
}
.footer-social-link-twitter {
  background-position: -107px -42px;
}
.footer-social-link-vk {
  background-position: -157px -42px;
}
.footer-social-link:hover {
  cursor: pointer;
}

.footer-copyright {
  font-size: 0.8em;
  white-space: pre-line;
  margin-top: 15px;
  line-height: 1.5em;

}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2em;
}

.footer-contacts-phone {
  display: block;
}

.footer-contacts-email {
  display: block;
}

/* Bootstrap */
.nav-link.active {
  color: #ff0000;
}

h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}